[submodule "modules/tinyfiledialogs"]
	path = modules/tinyfiledialogs
	url = https://git.code.sf.net/p/tinyfiledialogs/code
[submodule "modules/curl"]
	path = modules/curl
	url = https://github.com/curl/curl
[submodule "modules/cute_headers"]
	path = modules/cute_headers
	url = https://github.com/RandyGaul/cute_headers
[submodule "modules/base64"]
	path = modules/base64
	url = https://github.com/Tremus/base64
[submodule "modules/pffft"]
	path = modules/pffft
	url = https://github.com/Tremus/pffft
