[submodule "modules/tinyfiledialogs"]
	path = modules/tinyfiledialogs
	url = https://git.code.sf.net/p/tinyfiledialogs/code
[submodule "modules/tinycthread"]
	path = modules/tinycthread
	url = https://github.com/Tremus/tinycthread
